@import url('https://fonts.googleapis.com/css2?family=Josefin Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  --priamry: rgb(173, 215, 246);
  --secondary: rgb(34, 72, 112);
  --secondary_transparent: rgba(34, 72, 112, 0.7);
  --complement: rgb(18, 44, 52);
  --offwhite: hsl(210, 33%, 92%);
  --defaultfont: 'Josefin Sans'
}

body {
  background: var(--offwhite);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--defaultfont) ;
}

input {
  border-radius: 15px;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .8);
  font: 'Josefin Sans';
}

h2 {margin: 0;}
h3 {margin: 0;}
h4 {margin: 0;}
h5 {margin: 0;}
h6 {margin: 0;}
h1 {margin: 0;}
p {margin: 0;}
a {
  text-decoration: none;
  color: var(--offwhite);
  text-align: left;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-container {
  display: grid;
  grid-template-rows: min-content;
  height: 100vh;
}
/*Header and Navbar style below*/
.show-menu {
  position: absolute;
  right: 0;
  top: 85px;
  min-width: 250px;
  display: grid;
  background: var(--secondary_transparent);
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0);
  margin: 0;
}

.hide-menu {
  display: none;
}

.header-container {
  z-index: +1;
  background: var(--complement);
  color: var(--priamry);
  min-height: 10px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 15px;
}

.logo{
  height: 150px;
  width: 200px;
  cursor: pointer;
  object-fit: cover;
}

.icons{
  display: grid;
  grid-auto-flow: column;
  gap: 15px
}

.cart-counter{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--complement);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  z-index: 2;
}

.cart-icons{
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.cart-counter-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--priamry);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.cart-counter-inner-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--complement);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding-top: 2px;
}

.shop-cart {
  height: 25px;
  width: 25px;
}

.navbar-list {
  display: grid;
  grid-auto-flow: row;
  justify-content: left;
  width: 100%;
  gap: 20px;
  font-size: 1.5rem;
  padding-left: 10px;
}

.navbar-list-subgrid {
  display: grid;
  grid-auto-flow: row;
  gap: 1px;
  padding-left: 20px;
}

.navbar {
  display: grid;
}

.navbar-title {
  margin: 0;
  padding: 2vh;
  font-size: 3em;
}

.navbar-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--offwhite);
  font-family: var(--defaultfont);
  font-size: 24px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0);
  cursor: pointer;
  text-align: left;
}
/*Home style below*/
.container {
  color: var(--complement);
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.hero{
  background-image: url(https://cdn.shopify.com/s/files/1/0479/8932/5980/files/GH_Hero_Image_smaller_Size_f0a33240-c521-4e13-bbf0-39975b913e7b.jpg?v=1611850033);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 30vh;
  display: grid;
  text-align: center;
  justify-content: center;
}

.hero-title {
  color: var(--priamry);
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
  font-size: 5em;
  padding-top: 10vh;
}

.discount-container {
  background: linear-gradient(90deg, rgb(238, 184, 184, 0.4), rgb(218, 1, 1), rgb(238, 184, 184, 0.4));
  display: flex;
  justify-content: center;
  width: 100%;
}

.discount {
  min-height: 50px;
  width: 100%;
  display: grid;
  align-self: center;
  align-items: center;
  font-size: 2rem;
}

.divider {
  border-top: 1px dashed rgba(0, 0, 0, .5);
  width: 99%;
  margin: .5%;
}

.collections {
  background-color: white;
}

.collection-container {
  margin: 1vw;
}

.collection-title {
  font-size: 2rem;
  padding: 1vw;
  text-align: left;
  color: var(--secondary);
}

.collection-items {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px
}

.item-container {
  border: 1px solid rgba(0, 0, 0, .4);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--offwhite);
}

.item-container:hover {
  background: var(--priamry);
}

.item-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.item-divider {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  margin: 8px;
}

.collection-thumbnail {
  height: 25vh;
  width: 12vw;
}
/*Dashboard style below*/

.search-bar-container {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
}

.dash {
  margin: 10px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, .4);
  background-color: var(--secondary);
  color: var(--offwhite);
}

.search {
  border-radius: 7px;
  border: none;
}

.sidebar {
  padding: 5px;
  display: grid;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, .4);
  background-color: var(--secondary);
  color: var(--offwhite);
  font-size: 1.5rem;
}

.sidebar.last-child {
  border-radius: 0px 0px 15px 0px;
}

.sidebar:hover {
  background-color: rgb(59, 101, 146);
}

.sidebar.active {
  background-color: var(--complement);
}

.sidebar-container {
  background-color: none;;
  min-width: 200px;
  min-height: 500px;
}

.sidebar-grid {
  display: grid;
  grid-auto-flow: row;
  height: 100%;
}

.sidebar-item:last-child {
  border: none;
}

.dashboard-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr;
}

.empty-div {
  border: none;
}

.customer-container {
  display: grid;
  grid-auto-flow: column;
  border-top: 1px solid white;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  grid-template-columns: 1fr 1fr 1fr;
}

.customer-container:hover {
  background-color: var(--complement);
}
.customer-container:last-child:hover {
  border-radius: 0px 0px 15px 15px;
  background-color: var(--complement);
}

.table-headers {
  display: grid;
  grid-auto-flow: column;
  padding: 5px;
  
}

.inventory-headers {
  grid-template-columns: 1fr .5fr .5fr .5fr 2fr;
}

.title {
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  border-bottom: 1px solid white;
}

.table-header {
  text-align: center;
  width: 100%;
}

.size-container {
  display: grid;
  grid-auto-flow: column;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sizes {
  text-align: center;
}

.inventory-items {
  font-size: 20px;
  border-top: 1px solid white;
}

.inventory-items:last-child {
  border-radius: 0px 0px 15px 15px;
}

.inventory-items:hover {
  cursor: pointer;
  background-color: var(--complement);
}

.table-links {
  color:var(--priamry);
}

.po-container {
  display: grid;
  grid-auto-flow: column;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-align {
  text-align: left;
}

.po-headers {
  grid-template-columns: .5fr .5fr 1fr 2fr;
}

.order-headers {
  grid-template-columns: .5fr .5fr 1fr 1fr 1fr 1fr;
}

.customer-detail-container {
  display: grid;
  grid-auto-flow: row;
  padding: 15px;
  gap: 2vh;
  border-radius: 20px;
}

.customer-subdetails {
  display: grid;
  grid-auto-flow: column;
  gap: 2vh;
  grid-template-columns: 1fr 1fr 1fr;
}
.fields{
  align-items: center;
  font-size: 1.25rem;
  gap: 2vh
}

input {
  font-size: 1rem;
  padding: 5px 15px;
}

.prevpurchase-grid {
  display: grid;
  grid-auto-flow: column;
  font-size: 1rem;
  grid-template-columns: .5fr .5fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.rounded-border {
  border-radius: 10px;
}

.hide-orders {
  display: none;
}

.right-align {
  justify-content: right;
  text-align: center;
  display: flex;
}

.order-items {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.order-total {
  display: grid;
  grid-auto-flow: row;
  align-items: right;
  gap: 5px;
}

.order-total-details {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px
}

.order-number {
  font-weight: 100;
}

.flex {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 25%;
}

.orders-links {
  color: black;
}

.vendor-headers {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.details-border {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.details-border:hover {
  background-color: var(--complement);
}

.searchbar-grid {
  display: grid;
  grid-auto-flow: row;
}

.add-container {
  margin-right: 5px ;
  width: 50px;
}

.add {
  width: 100%;
  height: 100%;
}

.add-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  background-color: var(--complement);
  color: white;
  cursor: pointer;
}

.add-button:hover {
  color: var(--complement);
  background: white;
}

.add-icon {
  width: 20px;
  height: 20px;
}

.vendor-select {
  display: grid;
  justify-content: left;
  align-items: center;
  width: 30px;
  gap: 10px
}

.add-vendor-button {
  justify-self: center ;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  background-color: var(--priamry);
  width: 30px;
  border-radius: 50%;
  height: 30px;
}

.vendor-add {
  color: var(--complement);
}

.add-vendor-button:hover {
  background-color: var(--complement);
  cursor: pointer;
}

.vendor-add:hover {
  color: var(--offwhite);
}

.vendor-selector {
  font-family: 'Josefin Sans';
  font-size: 1.25rem;
  border-radius: 5px;
}

.qty-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.qty-main-grid {
  display: grid;
  gap: 5px;
}

.qty-input {
  height: 25px;
}

.quantity-input {
  width: 50px;
}

.test {
  display: grid;
  grid-auto-flow: row;
}

.select {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
  width: 25%;
}

.vendor-select-row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}
/*Collection page style below*/

.collection-item-container {
  margin: 15px;
}

.collection-item-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.collection-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: var(--offwhite);
}

.collection-item:hover {
  background-color: var(--priamry);
  cursor: pointer;
}
/*Item page style below*/

.item-details {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr .05fr .6fr;
  justify-items: center;
  border: 1px solid rgb(0, 0, 0, .6);
  border-radius: 10px;
  background-color: var(--secondary);
  padding: 15px;
  color: var(--offwhite);
}

.Vdivider {
  border-left: 1px solid rgb(0, 0, 0, .6);
}

.item-subdetails {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  grid-template-rows: 2fr 1fr 2fr;
}

.item-submission {
  display: grid;
  grid-auto-flow: row;
  gap: 10px
}

.cart {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: var(--offwhite);
}

.cart:hover {
  background-color: var(--priamry);
  cursor: pointer;
}

.image-thumb{
  height: 15vh;
  width: 15vh;
  border-radius: 5px;
  cursor: pointer;
}

.image-main{
  border-radius: 10px;
  height: 50vh;
  width: 50vh;
}

.image-thumb:hover{
  transform: scale(1.05);
}

.image-grid {
  display: grid;
  gap: 10px;
}

.image-subgrid {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}
/*Cart page style below*/

.order-container {
  margin: 15px;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.cart-lines {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, .6);
  padding: 5px;
}

.order-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.order-subdetails {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
}

.checkout-button {
  display: flex;
  justify-self: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  padding: 5px;
}

.checkout-button {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, .6);
  border-radius: 5px;
  padding: 10px;
}

.checkout-button:hover {
  background-color: var(--priamry);
}

/*Footer page style below*/
.footer-container {
  background-color: var(--complement);
  color: var(--priamry);
  padding: 15px;
}

.footer-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-subgrid {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  align-items: top;
  grid-template-rows: .1fr 1fr;
}

.footer-subgrid-footer {
  display: grid;
  font-size: larger;
  grid-auto-flow: row;
  gap: 10px;
  align-items: top;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer-subgrid-footer:hover{
  color: var(--primary);
}

.footer-button {
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  font-size: 19px;
  color: var(--offwhite);
  font-family: var(--defaultfont);
  cursor: pointer;
}
/*Default components */

.default-container {
  padding: 15px;
  color: var(--secondary);
}

.default-paragraph {
  font-size: larger;
}
/*Contact components */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: grid;
  grid-auto-flow: row;
  color: var(--complement);
  gap: 15px;
  border: 1px solid rgb(0, 0, 0, .6);
  border-radius: 15px;
  padding: 15px;
  width: 400px;
}

.contact-item {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.contact-button {
  width: 150px;
  padding: 5px;
  justify-self: center;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0,.6);
}

.contact-button:hover {
  cursor: pointer;
  background-color: var(--priamry);
}

.contact-link {
  color: var(--complement);
  text-decoration: underline;
}
/*FAQ page */

.hide-menu {
  display: none;
}

.show-question {
  display: flex;
  margin: 0px 15px;
  background-color: var(--secondary);
  box-shadow: 0px 0px 15px var(--secondary);
  z-index: -2;
  color: var(--priamry);
  padding: 15px;
}

.faq-question {
  padding: 10px;
  color: var(--priamry);
  background-color: var(--complement);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-icons {
  height: 30px;
  width: 30px;
}

.faq-grid {
  display: grid;
  gap: 5px;
  width: 50%;
}

.faq-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 30%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-button:hover {
  background-color: var(--priamry);
  cursor: pointer;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-grid {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.orders-background {
  background-color: var(--secondary);
  border-radius: 20px;
  margin: 20px;
}

.orders-color {
  color: var(--offwhite);
}